---

---

<footer class="relative px-4 z-50 bg-transparent text-white pt-6">
  <div class="container mx-auto border-t-2 border-[#28306E] py-3">
    <div
      class="flex flex-col lg:flex-row justify-between max-md:space-y-6 items-center py-5"
    >
      <p class="font-roboto text-xl text-center text-[#28306E]">
        IndoEBTKE ConEx 2025 © All Right Reserved
      </p>
      <div
        class="font-roboto flex flex-wrap items-center justify-center gap-6 text-sm text-center"
      >
        <a href="#" class="hover:text-green-200 text-xl text-[#28306E]">
          Terms
        </a>
        <a href="#" class="hover:text-green-200 text-xl text-[#28306E]">
          Privacy
        </a>
        <a href="#" class="hover:text-green-200 text-xl text-[#28306E]">
          Policy and Cookie Policy
        </a>
      </div>
    </div>
  </div>
</footer>
